<template>
  <user-alert v-if="alertIsVisible" :title="alertTitle" @close="hideAlert">
    <p>Do you want to continue with deleting a user?</p>
  </user-alert>
  <section>
    <h2>Delete a User</h2>
    <button @click="showAlert">Delete User</button>
    <button @click="testingParameter('hola')">Testing parameter to hook func</button>
  </section>
</template>

<script>
import UserAlert from './UserAlert.vue';
import useAlert from '../hooks/alert.js';
import { ref } from 'vue';

export default {
  components: {
    UserAlert,
  },
  setup() {
    const alertTitle = ref('Delete user'); // important your able to set all different funcitons like computed, watcher etc no matter your using a custom function into a component - NICE
    const [alertIsVisible, showAlert, hideAlert, testingParameter] = useAlert(); // using the custom hook
    return { alertIsVisible, showAlert, hideAlert, alertTitle, testingParameter} // despite we are using my hook we need to expose the properties and values used in the component

  },
};
</script>